In [46]:
import pandas as pd
from constant import CFM
cfm = CFM.NON_LINEAR_GHR

In [47]:
df: pd.DataFrame = pd.read_pickle('./data/df_' + cfm)
df

,Vehicle_ID,Start_Loc,ObjV,m,l,a,tau
0,137,146,-0.3062877371969842,-0.907822,0.108862,9.465294,2.6
1,152,160,-0.30209297436284316,0.029078,1.099844,10.000000,2.1
2,176,186,-0.21444273645734807,-0.410500,0.281858,2.572594,2.7
3,181,183,-0.3223961594435685,-0.058212,0.865335,5.952091,2.4
4,194,187,-0.2586601570005509,-0.247507,0.888958,9.999981,2.1
...,...,...,...,...,...,...,...
91,1840,354,-0.17929586124823627,0.177565,1.191359,10.000000,0.4
92,2041,37,-0.20831624703731835,0.042782,0.935888,10.000000,0.4
93,2619,165,-0.19617908062171324,0.686741,1.295986,9.975605,1.0
94,2778,199,-0.2493923734792754,1.061935,0.880022,1.755028,0.9
95,1021,34,-0.2752826331159781,1.031904,1.633892,7.134228,1.3

In [48]:
df_2: pd.DataFrame = pd.read_pickle('./data/df_' + cfm + '_clb')
df_2

,Vehicle_ID,Start_Loc,ObjV,m,l,a,tau,Dec_Or_Acc,Q_Delta,Gap_Avg,Min_V,Max_V,Time_Acc,Time_Dec
0,137,146,-0.3062877371969842,-0.907822,0.108862,9.465294,2.6,2.0,-378.415200,8.296686,7.983299,16.994496,7.8,15.6
1,152,160,-0.30209297436284316,0.029078,1.099844,10.000000,2.1,2.0,-1378.679495,26.515037,3.448628,15.847656,16.8,10.5
2,176,186,-0.21444273645734807,-0.410500,0.281858,2.572594,2.7,2.0,-538.651960,16.276789,4.097088,14.386812,13.5,8.1
3,181,183,-0.3223961594435685,-0.058212,0.865335,5.952091,2.4,2.0,-3388.956913,22.612999,2.470474,16.018692,19.2,7.2
4,194,187,-0.2586601570005509,-0.247507,0.888958,9.999981,2.1,-1.0,8618.520029,32.186877,2.379743,15.477220,25.2,4.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,1840,354,-0.17929586124823627,0.177565,1.191359,10.000000,0.4,1.0,-282.969693,3.536363,2.462711,14.787192,16.0,9.6
92,2041,37,-0.20831624703731835,0.042782,0.935888,10.000000,0.4,1.0,-178.200266,1.198905,0.012908,11.612722,10.4,25.2
93,2619,165,-0.19617908062171324,0.686741,1.295986,9.975605,1.0,-1.0,71.842452,-1.156556,0.420630,9.138161,29.0,17.0
94,2778,199,-0.2493923734792754,1.061935,0.880022,1.755028,0.9,-1.0,143.443626,-1.752270,0.556238,10.033666,27.9,17.1
95,1021,34,-0.2752826331159781,1.031904,1.633892,7.134228,1.3,1.0,-140.068639,0.466051,2.740289,11.950094,15.6,23.4

In [6]:
from drawer import Drawer
drawer = Drawer()
drawer.initFigure()
df_2 = df_2.dropna(axis=0,how='any')
df_2['Q_001'] = df_2['Q_Delta'] / 100
labels = [ r'$V_{min}(m/s)$',
          r'$V_{max}(m/s)$', r'$T_{acc}(s)$', r'$T_{dec}(s)$']
# show = [False, True, True, True, True, True]
drawer.myBoxPlot(x=df_2[[ 'Min_V', 'Max_V', 'Time_Acc', 'Time_Dec']], labels=labels,
                 showFliers=True)
drawer.saveFigure(path=f'F:\å¤§å­¦\å¤§å››è¯¾ç¨‹\æ¯•ä¸šè®¾è®¡\å›¾è¡¨\\{cfm}ç®±çº¿å›¾.svg')

In [49]:
from CLB_CFModel import CLB_CFModel
fList: list = CLB_CFModel.Name[cfm].copy()
fList.extend(['Q_Delta', 'Gap_Avg', 'ObjV', 'Vehicle_ID', 'Start_Loc'])
df_corr = df_2[fList]
df_corr

,m,l,a,tau,Q_Delta,Gap_Avg,ObjV,Vehicle_ID,Start_Loc
0,-0.907822,0.108862,9.465294,2.6,-378.415200,8.296686,-0.3062877371969842,137,146
1,0.029078,1.099844,10.000000,2.1,-1378.679495,26.515037,-0.30209297436284316,152,160
2,-0.410500,0.281858,2.572594,2.7,-538.651960,16.276789,-0.21444273645734807,176,186
3,-0.058212,0.865335,5.952091,2.4,-3388.956913,22.612999,-0.3223961594435685,181,183
4,-0.247507,0.888958,9.999981,2.1,8618.520029,32.186877,-0.2586601570005509,194,187
...,...,...,...,...,...,...,...,...,...
91,0.177565,1.191359,10.000000,0.4,-282.969693,3.536363,-0.17929586124823627,1840,354
92,0.042782,0.935888,10.000000,0.4,-178.200266,1.198905,-0.20831624703731835,2041,37
93,0.686741,1.295986,9.975605,1.0,71.842452,-1.156556,-0.19617908062171324,2619,165
94,1.061935,0.880022,1.755028,0.9,143.443626,-1.752270,-0.2493923734792754,2778,199
95,1.031904,1.633892,7.134228,1.3,-140.068639,0.466051,-0.2752826331159781,1021,34

In [50]:
df_corr.to_csv('./data/df_final_' + cfm + '.csv', index=False)

In [ ]:
df_corr.corr(method='spearman')

In [ ]:
from scipy.stats import stats
rho, pval = stats.spearmanr(df_corr, axis=0)
rho

In [ ]:
pval